   <div class="wrap">
            <div class="navbar">
                
                <div class="right">
                    <ul>
                      <li>
                        <a href="#">
                          <p>@User4 <br> <span>  </span></p>  <i class="fas fa-angle-down"> </i>
              </a>
                         
                        <div class="dropdown">
                            <ul>
                              
                              <li><a href="login.handlebars"><i class="fas fa-sign-out-alt"></i> Signout</a></li>
                          </ul>
                        </div>
                        
                      </li>
                  </ul>
                  
                </div>
            </div>
        </div>
       
      <div class="wrapper">
         <div class="title-text">
            <div class="title login">
               View Password
            </div>
           
         </div>
        
            <div class="form-inner">
               <form action="#" class="login">
                  <div class="form-group">
                     <label for="website">Website</label>
                     <input type="text" class="form-control" readonly value={{password.website}}>
                  </div>
                  
                   <div class="form-group">
                     <label for="website">URL</label>
                     <input type="text" class="form-control" readonly value={{password.url}}>
                  </div>

                  <div class="form-group">
                     <label for="username">Username</label>
                     <input type="text" class="form-control" readonly value={{password.user_name}}>
                  </div>

                  <div class="form-group">
                     <label for="website">Password</label>
                     <div class="input-group">
                        <input type="password" id="passwordEl" class="form-control" aria-label="Password" readonly value="{{password.saved_password}}">
                        <div class="input-group-append">
                           <button class="btn btn-outline-secondary" id="btnCopyPwd" style="height: 36.5px" type="button">Copy</button>
                           {{!-- <button class="btn btn-outline-secondary" style="height: 36.5px" type="button">Reveal</button> --}}
                        </div>
                     </div>
                  </div>
                  
                  <a class="btn btn-primary btn-lg" href="/edit_password/{{password.id}}">Edit Password</a>
                  <button class="btn btn-danger btn-lg" id="btnDelete">Delete Password</button>
                  <a class="btn btn-secondary btn-lg" href="/">Back</a>

               </form>
            </div>
         </div>
      </div>

      <script src="/js/view.js"></script>
      <script src="/public/js/logout.js"></script>
